<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bulma/css/bulma.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css')}}">

    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}

  </head>
  <body>
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="{{ url_for('index')}}">Home</a>
          <a class="nav-item" href="{{ url_for('show_all')}}">Hardware</a>
        </div>
      </div>

      <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
      <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </nav>

    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Flask App</strong> by <a href="http://bradyendres.com">Brady Endres</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/soccer99/flaskapp">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>